################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SneatUIDotnet/bin
/SneatUIDotnet/obj
/SneatUIDotnet/SneatUIDotnet.csproj.user
